extends layout

block content
    .login-form.text-center
        form(action="/signup", method="post")
            .form-group
                input.form-control(type="text", name="username" placeholder="Username")
            .form-group
                input.form-control(type="text", name="name" placeholder="Name")
            .form-group
                input.form-control(type="password", name="password" placeholder="password")
            
            button(type="submit" class="btn btn-primary") Submit
            h1 #{message}
