extends layout

block content
    .container.viewcounts
        .row
            .col-4.text-center
                p Date
            .col-4.text-center
                p Count Type
            .col-4.text-center
                p Manager
        each entry in data
            a(href="/viewcount?id=" + entry._id)
                .row.viewrow
                    .col-4.text-center
                        p #{ entry.day[0].month }/#{ entry.day[0].day }
                    .col-4.text-center
                        p #{ entry.countType }
                    .col-4.text-center
                        p #{ entry.manager }
